.workarea {
    width: 800px;
    height: 460px;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.textareaBlock {
    height: 210px;
    min-height: 210px;
}

.imageBlock {
    height: 210px;
    min-height: 210px;
}

.image {
    height: 210px;
    cursor: pointer;
}

.textarea {
    outline: none;
    resize: none;
    width: 100%;
    height: 180px;
    border-radius: 5px;
}